<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <img src="https://angular.io/assets/images/logos/angular/angular_whiteTransparent.png" width="60px" height="60px" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>


      <div class="aria-control">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="Logout()">Logout</button>
      </div>



    </ul>

  </div>
</nav>

<div class="sidebar-container">

  <ul class="sidebar-navigation">

    <li>
      <a href="dashboard">
        <i class="fa fa-home" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-tachometer" aria-hidden="true" (click)="usrlist()"></i>  Add User
      </a>
      
    </li>
    <li>
     <a href="">
        <i class="fa fa-tachometer" aria-hidden="true" (click)="getEmployee()" routerLink="/userlist"></i> Users
      </a>
      
    </li>
   
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">

    </div>

  </div>
</div>